<p>{{ errorMessage$ | async }}</p>

<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</mat-toolbar>

<button mat-button routerLink="/race-list">Race List</button>
<button mat-button routerLink="/race-create">Create Race</button>
<button mat-button routerLink="/poney-create">Create Poney</button>
<button mat-button routerLink="/admin/dashboard">Admin</button>

<router-outlet></router-outlet>

<!-- <app-race
  *ngFor="let race of races"
  [raceInput]="race"
></app-race> -->
