.container {
  width: 10%;
  position: relative;
  left: 0;
  transition: left 1s linear;
  padding: 10px;
  border-radius: 10px;

  img {
    width: 100%;
  }

  &.winner {
    background-color: gold;
  }
}

:host {
  display: block;
}